.InputFile {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // width: 250px;
    height: 250px;
    align-items: center;

    label {
        width: 100px;
        height: 100px;
        background-color: #f1f1f1;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px dotted #ccc;
        cursor: pointer;

        p {
            font-size: var(--s-f);
        }

        div.iconAnTitleContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 2rem;
            margin-bottom: 10px;
        }

        input {
            visibility: hidden;
            display: none;
        }
    }

    .imagesContainer {
        width: 100%;
        padding: 1rem;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        div{
            margin: 0 10px;
            width: 100px;
            height: 150px;
            box-shadow: 0 0 4px 0 #333;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            border-radius: 6px;
            
            img {
                border-radius: inherit;
                width: 100px;
                height: 100px;
                object-fit: contain;
                background-color: #fff;
                border: 1px dotted #ccc;
                &:active{
                    scale: 3;
                }
            }
            button.deleteImg{
                background-color: var(--black);
                border-radius:0 0 6px 6px;
                color: #fff;
                border: none;
                font-size: var(--s-f);
                margin-top: 10px;
                width: 100%;
                padding: .4rem 0;
            }
        }
    }
}