.Input {
    font-size: var(--s-f);
    position: relative;
    display: flex;
    border-radius: 10px;
    color: var(--black);
    font-weight: 700;
    width: 14rem;
    height: 2.6rem;
    padding: 0 4px;
    border: 2px solid #616161;
    
    input {

        border: none;
        width: 100%;
        height: 100%;
        cursor: text;
        background-color: inherit;
        font-size: var(--s-f);
        font-weight: 900;
        direction: rtl;
    }
    input:focus {
        outline: none;
    }
    &:focus-within {
    border-color: var(--pink);
    }
    input::placeholder {
        color: #2e2e2e7a;
    }


}



/* .Input:focus-within {
    box-shadow: 0 0 4px 0px #8fa6ff;
} */