.Products {
    width: 100%;
    // min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    overflow-y: auto;
    padding: 10px;

    .mainContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;

        .containerTable {
            width: 100%;
            height: 80%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }

        .btnEditorContainer {
            margin: 1rem 0;
            width: 100%;
            display: flex;
            justify-content: space-around;
            max-width: 480px;

            .buttonEditor {
                padding: .6rem 1rem;
                background-color: var(--black);
                color: #fff;
                border-radius: 20px;
                border: none;

                &:hover {
                    color: var(--pink);
                }

                &:disabled {
                    opacity: .4;
                    cursor: not-allowed;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media (min-width: 1025px) and (max-width: 5000px) {
    .Products {
        .mainContainer {
            width: 100%;

            .btnEditorContainer {
                .buttonEditor {
                    font-size: var(--l-f);
                }
            }
        }
    }
}

@media (max-width: 1024px) {

    .Products {
        flex-direction: column;
        .mainContainer {
            width: 100%;

            .btnEditorContainer {
                .buttonEditor {
                    font-size: var(--xs-f);
                }
            }
        }
    }
}